<!-- <div class="container">
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Please consult this website to see how a chemical engineer is using Ruby On Rails for the first time.</p>
  <p> Notice that I am in professional conversion into the IT domain.To do that I am signed in <%= link_to "Stuk", 'https://stuk.io/en' %> and <%= link_to "Codecademy", 'http://www.codecademy.com/' %>.</p>
  	<p>By exploring this website you will be able to find my professional course. </p>
  	<h3> Contact me if you are interested to hire me!</h3>
</div>
</div> -->

<div id="headerwrap">
	<section id="about" name="about"></section>
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Mónica Seco</h1>
					<h3>Web Designer | Ruby on Rails Developer | Chemical Engineer</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div>

	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p align="justify"> My name is Mónica Seco. I am a self-taught designer & developer focused on HTML/CSS and Ruby On Rails.
						I am trying to convert myself professionally from Chemical Engineering to the IT domain.
						In 2014 I decided to sign in <%= link_to "Codecademy", 'http://www.codecademy.com/' %> and <%= link_to "Stuk", 'https://stuk.io/en' %> in order to learn more about web development.</p>
					<p align="justify">I am starting my own work as I go along with my learning.</p>
					

				</div>
				
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div>

	<section id="resume" name="resume"></section>
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Chemical Engineering</t><br>
						Superior Institut of Engineering of Coimbra <br>
						<i>Bachelor's Degree</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>GRADUATING IN MAY 2014</sm><br>
					<imp><sm>IN PROGRESS</sm></imp>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Degree of Web Developer</t><br>
						Hastings University <br>
						<i>2 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUNE 2012</sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div>