<div class="container">
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Please consult this website to see how a chemical engineer is using Ruby On Rails for the first time.</p>
  <p> Notice that I am in professional conversion into the IT domain.To do that I am signed in <%= link_to "Stuk", 'https://stuk.io/en' %> and <%= link_to "Codecademy", 'http://www.codecademy.com/' %>.</p>
  	<p>By exploring this website you will be able to find my professional course. </p>
  	<h3> Contact me if you are interested to hire me!</h3>
</div>
</div>